<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(team) -%>">
  <span class='title'>
    <%= team.title %>
    <% if team.draft? %><span class="label notice"><%= t('.draft')%></span><% end %>
  </span>
  <% if Refinery::I18n.frontend_locales.many? %>
    <span class='locales'>
      <% team.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
        <% if translation.body.present? %>
          <%= link_to refinery.edit_teams_admin_team_path(team, :switch_locale => translation.locale),
                      :class => 'locale', :title => translation.locale.upcase do %>

            <div class="locale_icon <%= translation.locale %>">
              <%= refinery_icon_tag('locale-blue.svg', :size => '24x24', :alt => translation.locale.upcase) %>
              <span class="code"><%= locale_country(translation.locale) %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </span>
  <% end %>

  <span class="preview">
    <%= team.job_title %>
  </span>

  <span class='actions'>

    <%= link_to refinery_icon_tag("application_go.png"), refinery.teams_team_path(team),
        :title => t('.view_live_html'),
        :target => "_blank" %>

    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_teams_admin_team_path(team),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.teams_admin_team_path(team),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => team.fullname)},
        :method => :delete %>
  </span>
</li>