<% # setup params for various action links
  preview_url = refinery.teams_team_path(team)
  edit_url = refinery.edit_teams_admin_team_path(team)
  delete_url = refinery.teams_admin_team_path(team)
  delete_options = {
    class: "cancel confirm-delete",
    data: {confirm: t('message',  scope: 'refinery.admin.delete', title: team.title)}
  }
%>

<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(team) -%>">
  <div class='clearfix'>
    <span class='title'>
      <%= team.title %>
      <% if team.draft? %><span class="label notice"><%= t('.draft')%></span><% end %>

      <span class="preview">
        <%= team.job_title %>
        
        <% if Refinery::I18n.frontend_locales.many? %>
          <span class='locales'>
            <% team.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
              <% if translation.job_title.present? || translation.body.present? %>
                <%= link_to refinery.edit_teams_admin_team_path(team, :switch_locale => translation.locale), :class => 'locale', title: translation.locale.upcase do %>

                  <div class="<%=translation.locale %> locale_marker">
                    <%= locale_text_icon(translation.locale.upcase) %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </span>
        <% end %>
      </span>
    </span>
  </div>

  <span class='actions'>
    <%= action_icon(:preview, preview_url, t('.view_live_html')) %>
    <%= action_icon(:edit, edit_url, t('.edit' ) ) %>
    <%= action_icon(:delete, delete_url, t('.delete' ), delete_options ) %>
  </span>
</li>