<% content_for :body do %>
  <%=raw @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) %>

  <h2><%= t('.team') %></h2>
  <% if @team_categories.any? %>
    <section>
      <ul id="team-categories">
        <%= render partial: "category", collection: @team_categories %>
      </ul>
    </section>
  <% else %>
    <%= t('.no_items_yet') %>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>