<% content_for :body_content_title do %>
  <%= @team.fullname %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Fullname</h1>
    <p><%= raw @team.fullname %></p>

    <h2>Job Title</h2>
    <p><%= raw @team.job_title %></p>

    <h2>Body</h2>
    <p><%= raw @team.body %></p>

    <h2>Photo</h2>
    <p><%= image_fu @team.photo, nil %></p>

    <h2>Email</h2>
    <p><%= raw @team.email %></p>

    <h2>Categories</h2>
    <ul>
      <% @team.categories.each do |c| %>
        <li>
          <%= c.title %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="teams">
      <% @teams.each do |team| %>
        <li>
          <%= link_to team.fullname, refinery.teams_team_path(team) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
